@media(min-width:768px){
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.6rem;
        margin: 0 3rem 0 3rem;
    }
    nav a{
        font-size: 1.4rem;
        margin-left: 1rem;
        
    }
    .containerHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 2rem;
    }
    .headerImg{
        width: 25rem;
        height: 20rem;
    }
    .headerInfo span{
        font-size: 1.4rem;
    }
    .headerInfo h1{
        font-size:4rem ;
    }
    button{
        font-size: 1.2rem;
    }
    iframe{
        width: 40rem;
        height: 25rem;
    }
    .bullet{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "texting image";
        justify-content: space-between;
        align-items: center;
    }
    .mainImg{
        grid-area: image;
        width: 30rem;
        height: 25rem;
    }
    .bulletPoints{
        font-size: 1.4rem;
    }
    .mainContact{
        display: flex;
        margin-right: 34rem;
    }
    .mainContact h1{
        margin-right: 10rem;
    }
    
    .inputContact{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top:0;
    }
    .inputContact input{
        margin-top: 0;
        display: block;
        margin-bottom: 4rem;
        margin: 0 0.5rem 4rem 0;
    }
    .buttonContact{
        margin-top: 0rem;
    }
    .commentsMain{
        display: flex;
        flex-direction: row;
    }
    .commentsBox{
        width: 30rem;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 16rem;
    }
    .footer{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .infoFooter{
       display: flex;
       align-items: initial;
       margin: 0 0 2rem 10rem;
    }
  
}