:root{
    font-size:75%;
   
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;  
}
html, body, main{
    background-color:#ffffff;
    height:100vh;
    width: 100%;
}

header{
    height:10rem;
    text-align: center;
    align-content: center;
}
header h1{
    color:#D6000D;
    padding-top:1.8rem;
    font: 700 italic 3rem Roboto;
    padding-right:20px;
}
h1 span{
    color: black;
}
nav{
    padding-top:1.25rem;
}
.login-button{ 
    margin-left: 1rem;
    width:5rem;
    height:3rem;
    border-radius:1rem;
    background-color:#D6000D;
    font: 400 1.6rem Roboto;
    color:#fff;
    outline: 0;
    border: none;
}

.login-button:hover{
    background: #7a0f16;
    cursor: pointer;
}
nav a,.nav{
    padding-left:3rem;
    text-decoration:none;
    color:#000000;
    font: 400 1.6rem Roboto;
    font-weight: 500;
    margin-left:-1.2rem;
    
}

.img-video img{
    padding-top:2.2rem;
    height:15rem;
    margin:0.652rem auto;
    width: inherit;
}

.call{
    padding-top:2rem;
}
.call small{
    font:700 1.2rem Roboto;
    text-align: center;
}

.call p{
    font:700 3rem Roboto;
    color:#D6000D;
}

.call-campo{
    padding-top:1.6rem
}

.call-button{ 
    width:20rem;
    height:4rem;
    border-radius:1rem;
    background-color:#D6000D;
    font: 400 1.6rem Roboto;
    color:#fff;
    outline: 0;
    border: none;
}
.call-button:hover {
    background: #7a0f16;
    cursor: pointer;
}
main{
    text-align: center;
    align-content: center;
    padding-top:38rem;
    align-items: center;
    margin:3rem auto;
    justify-content: center;
    align-content: center;
}
.keyboard-img{
    height:15rem;
    margin:0.652rem auto;
    align-items: center;
}
.points{
    height: 20rem;
    align-content: center;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}
li{
    text-align: justify;
    list-style-type: none;
    padding-top: 1rem;
    display: flex;
    font: 500 1.3rem Roboto
}
.icone{
    padding-right:1rem;
    color: #D6000D;
    height:2rem;
    font-size: 1.6rem;
}
.contato{
    height:17rem;
    display: flex;
    flex-direction: column;
}
.contato p{
    font:700 1.6rem Roboto;
    text-align: center;
}
.texto-button{
    display: flex;
    align-content: center;
    flex-direction: column;
}
#texto{
    width:18rem;
    height:4rem;
    margin:1rem auto;
    background-color:#d3d3d3;
    border-radius: 0.8rem;
    border: none;
    padding-left:0.3rem;
    font:400 1.4rem Roboto;
    color:#000000;
    outline: 0;
}
#butao{
    width:18rem;
    height:4rem;
    margin:1rem auto;
    background-color:#d3d3d3;
    border-radius: 0.8rem;
    border: none;
    padding-left:0.3rem;
    font:500 1.4rem Roboto;
    color: #ffffff;
    background-color:#D6000D;
    outline: 0;
}
#butao:hover{
    background: #7a0f16;
    cursor: pointer;
}

.comment{
    display: flex;
    margin: 2rem auto;
    flex-direction: column;
}

.asia{
    width:16rem;
    height:9rem;
}
.japan{
    width: 4rem;
    height: 4rem;
    background-color: red;
    border-radius: 100rem;
    margin:1.2rem auto;
}

.box{
    height:11rem;
    background-color:#e3e3e3;
    text-align: justify;
    border-radius: 0.8rem;
    color: #000000;
    margin-top: 2rem;
    display: flex;
    width: 23.5rem;
    margin: 2rem auto;
}

.id{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
.box p{
    color: #000000;
    font: 500 1.1rem Roboto;
}
.coment{
    padding-right:1rem;
}
.nome{
  font: 500 1.6rem Roboto;
  margin-top: 1rem;
}

.job{
    font: 700 1rem Roboto;
}

footer{
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 2rem;
    
}
.footer-header{
    height:5rem;
    margin: 1rem auto;
}
.footer-header h1{
    color:#ffffff;
    font: 700 italic 3rem Roboto;
}
.footer-header span{
    font: 400 1.4rem Roboto;
}
.sobre-contato{
    width: 18rem;
    height: 6rem;
 
    text-align: left;
    padding-left:2rem;
    margin: 1rem 2rem 0 0;
    
}
.sobre-contato h2{
    font: 500 2rem Roboto;
}
.sobre-contato span{
    font: 400 1.1rem Roboto;
    text-align: justify;
    margin-top: 2rem;
    display: flex;
}
.redes{
    height:15rem;
    margin-top:7rem;
    text-align: left;
    padding-left:2rem;
   
}
.redes h2{
    font:500 2rem Roboto;
    color:#ffffff;
}
.icon-1{
    margin-top: 1.6rem;
}
.icon {
    font-size: 4rem;
    display:inline;
    padding-right: 2rem;
    color:#D6000D;
}

  